* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
a {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  gap: 30px;
}

li > a {
  font-size: 18px;
  color: #e5e7eb;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

header {
  background: #1f2937;
  padding-top: 20px;
  padding-bottom: 150px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  padding-bottom: 125px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-text > h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  width: 500px;
}

.hero-text > p {
  width: 450px;
  font-size: 18px;
  color: #f9faf8;
  padding-bottom: 10px;
}

.signup,
.cta-signup {
  background: #3882f6;
  border-radius: 8px;
  border-style: none;
  color: #f9faf8;
  width: 120px;
  height: 33px;
  font-size: 16px;
  font-weight: bold;
}

.image-placeholder {
  display: flex;
  background-color: rgb(101, 111, 121);
  height: auto;
  width: 600px;
}

.image-placeholder > p {
  align-self: center;
  text-align: center;
  width: 100%;
  color: #f9faf8;
}

.info-wrapper > h2 {
  padding: 50px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.info-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.box {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.box-wrapper {
  text-align: center;
  width: 150px;
}

.quote-wrapper,
.cta-wrapper,
.info-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.quote {
  padding: 100px 0;
  display: flex;
  background: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  columns: #1f2937;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.cta {
  background: #3882f6;
  padding: 50px 100px;
  border-radius: 10px;
  border-style: none;
  color: #f9faf8;
}

.cta-container {
  padding: 100px 0;
}

.cta-signup-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cta-signup {
  border: 2px solid #f9faf8;
}

footer {
  background: #1f2937;
  color: #f9faf8;
  padding: 50px 0;
  text-align: center;
}
